<ion-header>
  <ion-toolbar>
    <ion-title class="text-center">Inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
  <div class="d-flex align-items-center justify-content-center" style="height: 100%;">
  <div class="register-container">
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">

      <div class="logo-container">

        <img src="assets/images/logo.png" class="logo" alt="Logo">
        <h5>Bienvenu(e) sur JOIN!</h5>

      </div>

      <ion-item>
        <ion-label position="floating">Prénom</ion-label>
        <ion-input formControlName="firstName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nom</ion-label>
        <ion-input formControlName="lastName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Pseudo</ion-label>
        <ion-input formControlName="pseudo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>

      <ion-button expand="full" type="submit" [disabled]="registerForm.invalid" class="btn-register">S'inscrire</ion-button>

      <p lines="none" class="text-center mt-3"  class="register">
        Vous avez déjà un compte ? <a routerLink="/login">Se connecter</a>
    </p>
    </form>
  </div>
  </div>
</ion-content>
