body {
  font-family: 'Poppins', sans-serif;
}

ion-header {
  --background: #043b35; /* Belle couleur pour l'en-tête */
}

ion-toolbar {
  --background: #043b35;
}

ion-title {
  color: #ffffff;
  text-align: center;
}

.register-container {
  background-color: #ffffff;
  padding: 10px; /* Espacement intérieur pour plus de confort */
  border-radius: 20px;
  box-shadow: 0px -5px 15px rgba(2, 99, 83, 0.3), 0px 15px 30px rgba(2, 99, 83, 0.3); /* Ombre en haut et en bas */
  width: 100%;
  max-width: 400px;
  /* Ajout d'un espace horizontal */
  margin-left: 5px; /* Ajout d'espace à gauche */
  margin-right: 5px; /* Ajout d'espace à droite */
}

ion-content {
  --background: #ffffff; /* Fond blanc pour le contenu */
}

.logo-container {
  text-align: center;
  margin-bottom: 30px;
}

.logo {
  height: 70px;
  width: 100px;
  margin-top: 15px;
}

ion-item {
  --background: #e4eef2; /* Couleur de fond douce pour les champs */
  border-radius: 8px;
  margin-bottom: 15px;
  color: #054c44;
}

ion-input {
  padding-left: 15px;
  color: #054c44;
  font-size: 14px;
}

ion-label {
  color: #08554c; /* Couleur assortie pour les labels */
  font-size: 14px;
  font-weight: 600;
}

ion-button {
  --background: #043b35;
  --background-activated: #066459;
  --background-focused: #043b35;
  color: #ffffff;
  font-weight: bold;
  margin-top: 30px;
}

.register {
  font-size: 13px;
  margin-bottom: 50px;
  background-color: #ffffff;
  text-align: end;
  color: #08554c; /* Couleur assortie pour les labels */
  margin-right: 15px;
}

a {
  color: #0450a2;
  font-weight: bold;
}

.btn-register {
  margin-top: 30px;
  margin-bottom: 20px;
}

H5{
  color: #07796b;
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
}