/* src/app/pages/register/register.page.scss */
ion-header {
    --background: #3880ff;
  }
  
  ion-toolbar {
    color: #fff;
  }
  
  ion-content {
    ion-item {
      margin-bottom: 20px;
    }
  }
  
  ion-button {
    margin-top: 20px;
  }
  