<div class="container mt-5">
  <div class="card" *ngIf="userInfo">
    <div class="card-header">
      <h5 class="card-title">{{ userInfo.pseudo }}</h5>
    </div>
    <div class="card-body">
      <p><strong>Prénom :</strong> {{ userInfo.first_name }}</p>
      <p><strong>Nom :</strong> {{ userInfo.last_name }}</p>
      <p><strong>Email :</strong> {{ userInfo.email }}</p>
    </div>
  </div>

  <ion-button expand="full" color="danger" (click)="logout()">
    Déconnexion
  </ion-button>
</div>
