<ion-header>
  <ion-toolbar>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="userInfo">
    <ion-card-header>
      <ion-card-title>{{ userInfo.pseudo }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Prénom :</strong> {{ userInfo.first_name }}</p>
      <p><strong>Nom :</strong> {{ userInfo.last_name }}</p>
      <p><strong>Email :</strong> {{ userInfo.email }}</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" color="danger" (click)="logout()">
    Déconnexion
  </ion-button>
</ion-content>
