.auth-message {
    background-color: #DCF8C6; /* Fond vert clair pour les messages de l'utilisateur authentifié */
    color: #000;
    border-radius: 8px;
    padding: 8px;
    position: relative;
}

.user-message {
    background-color: #FFF; /* Fond blanc pour les messages des autres utilisateurs */
    color: #000;
    border-radius: 8px;
    padding: 8px;
    position: relative;
}

.message-read .icon {
    color: #064f6f; /* Bleu pour les messages lus */
}

.message-unread .icon {
    color: #a41d1d; /* Gris pour les messages non lus */
}

.triangle-left {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 8px 0;
    border-color: transparent #DCF8C6 transparent transparent;
    position: absolute;
    left: -8px;
    top: 12px;
}

.triangle-right {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 8px;
    border-color: transparent transparent transparent #FFF;
    position: absolute;
    right: -8px;
    top: 12px;
}

.text-end {
    display: flex;
    justify-content: flex-end;
}

.text-start {
    display: flex;
    justify-content: flex-start;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 15px;
}

.icon {
    font-size: 12px;
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}

p {
    margin: 0;
    padding: 0;
}

.auto-grow-input {
    border-radius: 20px;
    border: 1px solid #07675b;
    margin: 10px;
    padding: 8px;
    font-size: 16px;
    box-sizing: border-box;
    min-height: 40px; /* Hauteur minimale pour le champ de saisie */
}

.container-form {
    display: flex;
    align-items: center;
}

.btn {
    background: none;
    border: none;
    padding: 8px;
    cursor: pointer;
}

.more {
    margin-right: 8px;
    font-size: 24px;
}

.icon-read{
color:#1181be;
}

.icon-unread{
    color:#959ca0;
}

input{
    padding: 5px;
}

.container {
    height: calc(100vh - 56px); /* Ajustez la hauteur en fonction de la hauteur de l'en-tête */
    overflow-y: auto;
  }
  
  .container-form {
    display: flex;
    align-items: center;
    padding: 0 10px;
  }
  
  .auto-grow-input {
    flex: 1;
    min-height: 40px; /* Hauteur initiale */
    overflow: hidden;
    resize: none;
  }


  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .message-container {
    margin-bottom: 80px;
  }
  
  .input-area {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff; /* Assurez-vous que la couleur de fond soit visible */
    margin-top: 10px;
  }
  
  .container-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .send{
    color:#035047;
  }