.auth-message {
    background-color: #086d95; /* Light cyan background for messages from authUser */
    border: 1px solid #07675b; /* Accent border color */
    height: auto;
  }
  
  .user-message {
    background-color: #07675b; /* Light orange background for messages from others */
    border: 1px solid #086d95; /* Accent border color */

  }
  
  .icon {
    text-align: right;
  }
  

/* Triangle pour l'utilisateur authentifié */
.auth-message::after {
    content: '';
    position: absolute;
    top: 10px;
    right: -10px; /* Positionne le triangle à droite */
    border-width: 10px;
    border-style: solid;
    border-color: transparent rgb(241, 241, 241) transparent transparent;
    border-radius:30px;
}

/* Triangle pour l'autre utilisateur */
.user-message::after {

    content: '';
    position: absolute;
    top: 10px;
    left: -10px; /* Positionne le triangle à gauche */
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent rgb(6 87 112);
    border-radius: 30px;
}

/* Style pour l'icône */
.icon {
    font-size: 1.1em;
    text-align: end;
}

/* Icône des messages non lus */
.message-unread .icon {
    color: #ffffff9f;
}

/* Icône des messages lus */
.message-read .icon {
    color: #ffffff;
}

/* Style pour la zone de saisie de message */
.fixed-bottom {
    bottom: 0;
    width: 100%;
}

.container-form {
    display: flex;
    align-items: center;
    height: 50px;
    ion-textarea{
        height: 10px;
        border-radius:20px;
        border: 1px solid #07675b; /* Accent border color */
        margin: 10px;
    }
}

.form-control {
    flex: 1;
    margin-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.button {
    border-color: #109ba0;
    color: #ffffff;
}

.add {
    background-color: #109ba0;
    color: #000000;
    font-size: 18px;
    font-weight: 900;
    border-radius: 50%;
    padding: 3px;
}

.container {
    margin-top: 10px;
    margin-bottom: 100px;
}

.title {
    font-size: 22px;
    font-weight: bold;
    margin-left: -12px;
    margin-bottom: 10px;
}

.plus {
    margin-left: -5px;
    margin-right: 10px;
}

.btn{
color:#0b7258;
font-size: 18px;
}
.more {

    color: #000000;
    font-size: 28px;
    font-weight: 900;
    border-radius: 50%;
    padding: 3px;
    margin-left: 10px;
}